<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>877369339598-e9gpqj00sui0nptn6kmgaj30esaq9r10.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.877369339598-e9gpqj00sui0nptn6kmgaj30esaq9r10</string>
	<key>API_KEY</key>
	<string>AIzaSyClp2SmAOQy7_pQIDfIWFwqKwCqTWeg6JQ</string>
	<key>GCM_SENDER_ID</key>
	<string>877369339598</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jpboro.bctapp</string>
	<key>PROJECT_ID</key>
	<string>bctappmap</string>
	<key>STORAGE_BUCKET</key>
	<string>bctappmap.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:877369339598:ios:bdc459c141ced0e3792a9f</string>
	<key>DATABASE_URL</key>
	<string>https://bctappmap.firebaseio.com</string>
</dict>
</plist>